.container-tela-pagamento {
    background: url(../img/img-pagamento/tela-fundo-pagamento.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    color: #658955;
    position: relative;
}

.container-tela-pagamento a {
    position: absolute;
    top: 3.8rem;
    left: 50%;
    transform: translateX(-50%);
}

.container-pagamento {
    position: absolute;
    left: 8.6rem;
    bottom: 4.1rem;
    background-color: #fff;
    padding: 5rem;
    border-radius: 1.7rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 20px;
}

.container-pagamento .form-pagamento {
    display: flex;
    flex-direction: column;
}

.container-pagamento .titulo-pagamento {
    font-size: 4rem;
    font-weight: 600;
}

.form-pagamento .nome-titular {
    display: flex;
    flex-direction: column;
}

.form-pagamento .nome-titular label {
    font-size: 2.1rem;
    font-weight: 500;
    margin: 4.6rem 0 .8rem 0;
}

.form-pagamento .nome-titular input {
    border: 1px solid #658955;
    border-radius: 1.7rem;
    height: 4.5rem;
    padding: 2rem 2.4rem;
}

.form-pagamento .validade-cvv-dataNascimento{
    margin-top: 3rem;
    display: flex;
    gap: 1.3rem;
}

.container-inputs {
    display: flex;
    flex-direction: column;
}

.container-inputs label {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.container-inputs input {
    border: 1px solid #658955;
    border-radius: 1.7rem;
    height: 4.5rem;
    padding: 2rem 2.4rem;
}

.form-pagamento .numeroCartao {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.form-pagamento .numeroCartao label {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: .8rem;
}

.form-pagamento .numeroCartao input {
    border: 1px solid #658955;
    border-radius: 1.7rem;
    height: 4.5rem;
    padding: 2rem 2.4rem;
}

.form-pagamento .cpf-telefone {
    margin-top: 3rem;
    display: flex;
    gap: 1.3rem;
}

.form-pagamento .cpf-telefone .container-inputs {
    width: 100%;
}

.form-pagamento .finalizar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.form-pagamento .finalizar .valorFinal {
    color: rgba(0, 0, 0, 0.59);
    font-size: 3.5rem;
    font-weight: 600;
}

.form-pagamento .finalizar .btn-finalizar-pagamento {
    background-color: #658955;
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    border-radius: 2rem;
    padding: 1.7rem 6.4rem;
    border: none;
    cursor: pointer;
}