
  body{
    background-image: url('../../img/backgroun.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    width: 100%;
    height: 100vh;
    justify-content: center;
  }


header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 10vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

form{
    display: flex;
    padding: 30px;
    background-color: #fff;
    width: 90%;
    flex-direction: column;
    border-radius: 20px;
}

.row_form{
    width: 100%;
    display: flex;
}

.title_forms{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    color: #658955;
}



/* Para poder separar os lados, separei por duas DIV's sendo elas .form_dados e .form_termos */


/* CSS .form_dados */

.form_dados{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.form_dados_line{
    width: 100%;
    display: flex;
}

input{
    display: block;
    margin-top: 5px;
    padding: 15px 10px;
    border-radius:10px;
    border: 1px solid #2C4757;
    outline: 0;
}

.form_dados_label01{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    color: #658955;
    font-size: 2rem;
    
}

.form_dados_label02{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 25px;
    margin-top: 25px;
    font-family: 'Poppins', sans-serif;
    color: #658955;
    position: relative;
    font-size: 2rem;
}



/* tamanho dos inputs .for_dados */


/* Primeira linha */
.input_name{
    width: 35vw;
    margin-right: 20px;
}

.input_idade{
    width: 15vw;  
}


/* Segunda linha */
.input_celular{
    width: 25vw;
    margin-right: 20px;
}

.input_telefone{
    width: 25vw;  
}


/* Terceira linha */
.input_email{
    width: 35vw;
    margin-right: 20px;
}

.input_sexo{
    width: 15vw;  
}

/* Quarta linha */
.input_senha{
    width: 25vw;
    margin-right: 20px;
}

.input_confirmacao{
    width: 25vw;  
}


.input_submit{
    background-color: #658955;
    color: #fff;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    border: 0;
    position: relative;
    top: 57px;
    width: 15vw;
    padding: 15px;
    cursor: pointer;
}


/* CSS .form_termos */
.form_termos{
    display: flex;
    flex: 2;
    align-items: center;
    flex-direction: column;
}

.title_termos{
    margin-top: 25px;
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    color: #658955;
    font-size: 2rem;
}

.box_termos{
    display: flex;
    resize: none;
    width: 30vw;
    height: 21.5rem;
    border:1px solid #2C4757;
    margin: 0 15px;
    border-radius: 10px;
    outline: 0;
    padding: 15px;
}

@media(max-width:1500px){
    .container {
        height: none;
    }

    .form_dados_label01{
        margin-bottom: 15px;
        margin-top: 15px;
        font-size: 2rem;
        
    }
    
    .form_dados_label02{
        margin-bottom: 15px;
        margin-top: 15px;
        position: relative;
        font-size: 2rem;
    }

    .title_termos{
        margin-top: 15px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        color: #658955;
        font-size: 2rem;
    }
}

@media(max-width:1200px){
    .form_dados_label01{
        margin-bottom: 7px;
        margin-top: 7px;
        font-size: 2rem;
        
    }
    
    .form_dados_label02{
        margin-bottom: 7px;
        margin-top: 7px;
        position: relative;
        font-size: 2rem;
    }

    .title_termos{
        margin-top: 7px;
        margin-bottom: 5px;
        font-family: 'Poppins', sans-serif;
        color: #658955;
        font-size: 2rem;
    }
}