.container {
    position: relative;
}

.sobre-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../img/header.png) no-repeat;
    background-size: cover;
}

.sobre-home .conteudo-logo {
    width: 50rem;
}

.menu {
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.menu img {
    width: 65px;
}

.menu img:hover {
    cursor: pointer;
}

.conteudo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo img {
    width: 337px;
    height: auto;
}

.conteudo p {
    font-weight: 500;
    font-size: 3.6rem;
    color: #FFFFFF;
}

.img-detalhes {
    position: absolute;
    right: 0;
    bottom: -25rem;
}

.detalhes {
    width: 320px;
}

.sobre-lacoos {
    width: 100%;
    height: 100vh;
}

.sobre-lacoos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.conteudo-sobre {
    display: flex;
    align-items: center;
}

.conteudo-sobre h1 {
    color: #658955;
    font-size: 85px;
    margin-right: 5rem;
}

.conteudo-sobre hr {
    background-color: #C3B107;
    width: 5px;
    height: 200px;
    border-radius: 10px;
}

.conteudo-sobre p {
    width: 523px;
    margin-left: 5rem;
    font-size: 26px;
}

.sobre-cartaolacoos {
    width: 100%;
    height: 85vh;
    background-color: #C3B107;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-img {
    width: 80%;
}

.sobre-fontslacoos {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.1rem 0;
}

.conteudo-fonts {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.conteudo-fonts .buttons {
    display: flex;
    align-items: center;
    gap: 10.7rem;
}

.button button {
    width: 461px;
    height: 164px;
    background-color: #C9B920;
    color: #FFFFFF;
    border-radius: 26px;
    font-size: 44px;
    border: none;
}

.btn .title {
    font-size: 51px;
}

.btn .p {
    font-size: 36px;
}

.sobre-imageslacoos {
    width: 100%;
    height: 100vh;
}

.sobre-imageslacoos .images {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
}

.images img {
    width: 100%;
}

.sobre-idvisuallacoos {
    width: 100%;
    height: 85vh;
}

.conteudo-id {
    display: flex;
    justify-content: center;
}

.cores {
    display: flex;
    justify-content: center;
}

.conteudoicons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-msg {
    width: 425px;
}

.sobre-integrantelacoos {
    width: 100%;
    height: 100vh;
    font-family: "Poppins";
    text-align: center;
    background-image: url("../../img/sobre-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.containerIntegrantes {
    display: flex;
    margin: 5rem;
}

.conteudointegrantes {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    color: #FFF;
}

.card {
    width: 173px;
    height: 244px;
    border-radius: 17px;
    background-color: #C3B107;
    margin: 7.5px;
}

.card img{
    margin-top: .5rem;
}

.caixaGarrafinha{
    width: 47rem;
    height: auto;
    margin-top: 5rem;
}

.sobre-footerlacoos {
    width: 100%;
    height: 75vh;
    background: url("../../img/footerbc.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Poppins";
    color: #FFFFFF;
    position: relative;
}

.redesocial {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 34px;
    left: 34px;
    gap: 1rem;
}

.cardsocial {
    display: flex;
    gap: .5rem;
}