.container-pacote {
    height: 100vh;
    background: url(../img/fundo-pacotes.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.container-pacote .btn-voltar {
    position: absolute;
    right: 3rem;
    top: 3rem;
    color: #fff;
    background-color: #658955;
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

.container-pacote .titulo-pacotes {
    font-size: 10rem;
    color: #fff;
    font-family: 'Dancing Script';
    font-weight: bold;
    text-align: center;
    margin-bottom: 3.5rem;
}

.container-pacote .pacotes {
    display: flex;
    align-items: center;
    gap: 6.8rem;
}

.container-pacote .pacotes .pacote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 2px solid #658955;
    border-radius: 1.7rem;
    padding: 4.5rem 3.5rem;
    position: relative;
    height: 53.6rem;
    width: 39rem;
}

.container-pacote .pacotes .pacote .titulo-pacote {
    font-family: sans-serif;
    font-size: 3rem;
}

.container-pacote .pacotes .pacote p {
    font-size: 3rem;
    font-weight: bold;
}

.container-pacote .pacotes .pacote .lista-pacote {
    height: 15.2rem;
    overflow-y: hidden;
}

.container-pacote .pacotes .pacote .lista-pacote li {
    font-size: 2.2rem;
}

.container-pacote .pacotes .pacote .lista-pacote .lista-sem-bola {
    list-style: none;
}

.container-pacote .pacotes .pacote .ver-mais {
    position: absolute;
    font-size: 1.7rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    bottom: 12.2rem;
    right: 3rem;
    cursor: pointer;
}

.container-pacote .pacotes .pacote .btn {
    padding: 1.2rem 5.1rem;
    background-color: #658955;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    border-radius: 2rem;
}

/* MODALS */

.pacotes .modal-gratuito,
.pacotes .modal-pago {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.329);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}

.pacotes .modal-pago .pacote,
.pacotes .modal-gratuito .pacote {
    height: auto;
}

.pacotes .modal-pago .pacote p,
.pacotes .modal-gratuito .pacote p {
    margin: 3rem 0;
}

.pacotes .modal-pago .pacote .btn,
.pacotes .modal-gratuito .pacote .btn {
    margin-top: 3.3rem;
}

.pacotes .modal-gratuito .pacote .lista-pacote,
.pacotes .modal-pago .pacote .lista-pacote {
    overflow-y: auto;
    height: auto;
}

.pacotes .modal-gratuito .btn-modal,
.pacotes .modal-pago .btn-modal {
    padding: 1.2rem 5.1rem;
    background-color: #658955;
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300;
    border-radius: 2rem;
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    cursor: pointer;
}

.modal-gratuito.abrir-modal,
.modal-pago.abrir-modal {
    visibility: visible;
}

@media(max-width: 1500px) {
    .container-pacote .titulo-pacotes {
        font-size: 6rem;
        margin-bottom: 3.5rem;
    }

    .container-pacote .pacotes .pacote {
        padding: 3rem 2rem;
        height: 43.6rem;
        width: 35rem;
    }

    .container-pacote .pacotes .pacote .titulo-pacote {
        font-family: sans-serif;
        font-size: 2.5rem;
    }

    .container-pacote .pacotes .pacote p {
        font-size: 2rem;
        font-weight: bold;
    }

    .container-pacote .pacotes .pacote .lista-pacote {
        height: 13.2rem;
        overflow-y: hidden;
    }

    .container-pacote .pacotes .pacote .lista-pacote li {
        font-size: 1.6rem;
    }

    .container-pacote .pacotes .pacote .btn {
        font-size: 1.9rem;
    }

    .container-pacote .pacotes .pacote .ver-mais {
        bottom: 9.4rem;
        right: 3rem;
    }

    .pacotes .modal-pago .pacote .btn,
    .pacotes .modal-gratuito .pacote .btn {
        margin-top: 2rem;
    }

    .pacotes .modal-pago .pacote,
    .pacotes .modal-gratuito .pacote {
        height: auto;
    }

    .pacotes .modal-gratuito .pacote .lista-pacote,
    .pacotes .modal-pago .pacote .lista-pacote {
        overflow-y: auto;
        height: auto;
    }

    .pacotes .modal-gratuito .btn-modal,
    .pacotes .modal-pago .btn-modal {
        font-size: 1.9rem;
    }
}