@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.sobre-home {
    width: 100%;
    height: 90vh;
    background-image: url("../images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
}

.menu {
    display: flex;
    justify-content: right;
    margin-right: 2.5rem;
}

.menu img {
    width: 65px;
}

.menu img:hover {
    cursor: pointer;
}

.conteudo {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo img {
    width: 337px;
    height: auto;
}

.conteudo p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.img-detalhes {
    display: flex;
    justify-content: right;
    margin-top: 15rem;
}

.detalhes {
    width: 320px;
}

.sobre-lacoos {
    width: 100%;
    height: 100vh;
}

.sobre-lacoos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.conteudo-sobre {
    display: flex;
}

.conteudo-sobre h1 {
    width: 337px;
    height: 83px;
    font-family: "Dancing Script", cursive;
    color: #658955;
    font-size: 104px;
    margin-right: 5rem;
}

.conteudo-sobre hr {
    background-color: #C3B107;
    width: 5px;
    height: 200px;
    border-radius: 10px;
}

.conteudo-sobre p {
    width: 523px;
    height: 252px;
    margin-left: 5rem;
    font-family: "Poppins";
    font-size: 26px;
}

.sobre-cartaolacoos {
    width: 100%;
    height: 85vh;
    background-color: #C3B107;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front-img {
    width: 80%;
}

.sobre-fontslacoos {
    width: 100%;
    ;
    height: 50vh;
}

.conteudo-fonts {
    width: 100%;
    ;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button button {
    width: 461px;
    height: 164px;
    background-color: #C9B920;
    color: #FFFFFF;
    border-radius: 26px;
    font-family: 'Berkshire Swash', serif;
    font-size: 44px;
}

.title,
.p {
    font-family: "Poppins";
}

.poppins .title {
    font-size: 51px;
}

.poppins .p {
    font-size: 36px;
}

.dancingScript p {
    width: 259px;
    height: 122px;
    font-family: "Dancing Script", cursive;
    font-size: 77px;
    color: #658955;
}

.sobre-imageslacoos {
    width: 100%;
    height: 100vh;
}

.sobre-imageslacoos .images {
    display: flex;
    justify-content: center;
    gap: 7.5rem;
}

.images img {
    width: 100%;
}

.sobre-idvisuallacoos {
    width: 100%;
    height: 85vh;
}

.conteudo-id {
    display: flex;
    justify-content: center;
}

.cores {
    display: flex;
    justify-content: center;
}

.conteudoicons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-msg {
    width: 425px;
}

.sobre-integrantelacoos {
    width: 100%;
    height: 100vh;
    font-family: "Poppins";
    text-align: center;
    background-image: url("../images/sobre-back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.containerIntegrantes {
    display: flex;
    margin: 5rem;
}

.conteudointegrantes {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    color: #FFF;
}

.card {
    width: 173px;
    height: 244px;
    border-radius: 17px;
    background-color: #C3B107;
    margin: 7.5px;
}

.card img{
    margin-top: .5rem;
}

.caixaGarrafinha{
    width: 47rem;
    height: auto;
    margin-top: 5rem;
}

.sobre-footerlacoos {
    width: 100%;
    height: 75vh;
    background: url("../images/footerbc.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Poppins";
    color: #FFFFFF;
    position: relative;
}

.redesocial {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 34px;
    left: 34px;
    gap: 1rem;
}

.cardsocial {
    display: flex;
    gap: .5rem;
}